In [1]:
import os
import pandas as pd
import json
import tqdm
import numpy as np
#
from multiprocessing import Pool
from threading import Thread
from multiprocessing import Process
from functools import reduce
#
from js_flat_tools import df_slicer,FLAT_JS

In [9]:
import datetime

In [12]:
datetime.datetime.now()

datetime.datetime(2022, 5, 8, 11, 11, 9, 587744)

In [3]:
def Load_War(year,war_id,folder_path = 'E:\Data\Eve-Online\Wars'):
    df = pd.DataFrame()
    idx = 0
    JS_paths =  os.listdir(folder_path+f'\\wars-{year}\\wars\\{war_id}\\killmails')
    for idx in tqdm.trange(len(JS_paths)):
        file_path = folder_path+f'\\wars-2016\\wars\\{war_id}\\killmails\\' + JS_paths[idx]
        #print(file_path)
        with open(file_path) as file:
            try:
                J = json.load(file)
                df = pd.concat([df,pd.json_normalize(J)])
            except:
                pass 
        idx +=1 
    df.to_csv(f'E:\\Data\\Eve-Online\\Wars_Csv\\{year}war_{war_id}.csv')

In [6]:
def Load_Raid(Path_list,year):
    df = pd.DataFrame()
    idx = 0
    for path in tqdm.tqdm(Path_list):
        file_path = f"E:\Data\Eve-Online\Wars\wars-{year}\wars\{path}"
        with open(file_path) as file:
            try:
                J = json.load(file)
                df = pd.concat([df,pd.json_normalize(J)])
            except:
                pass 
        idx +=1 
    df.to_csv(f'E:\\Data\\Eve-Online\\Wars_Csv\\{year}war_RAID.csv')

In [14]:
#Load Wars
for year in [2017,2018,2019]:
    Existing_Wars = [ i.split('.')[0].split('_')[1] for i in os.listdir(f'E:\Data\Eve-Online\Wars_Csv')]
    Wars_ = [ i for i in os.listdir(f'E:\Data\Eve-Online\Wars\wars-{year}\wars') if '.json' not in i]
    Wars = [ i for i in Wars_ if i not in Existing_Wars]
    for war_id in tqdm.tqdm(Wars):
        try:
            Load_War(year,war_id)
        except FileNotFoundError as e:
            print(e)

100%|██████████| 15712/15712 [05:02<00:00, 51.93it/s]
100%|██████████| 12754/12754 [04:35<00:00, 46.23it/s]
100%|██████████| 8866/8866 [07:42<00:00, 19.18it/s]

In [7]:
#Load Raids
for year in [2016,2017,2018,2019]:
    #Existing_Wars = [ i.split('.')[0].split('_')[1] for i in os.listdir(f'E:\Data\Eve-Online\Wars_Csv')]
    Wars_ = [ i for i in os.listdir(f'E:\Data\Eve-Online\Wars\wars-{year}\wars') if '.json' in i]
    #Wars = [ i for i in Wars_ if i not in Existing_Wars]
    Load_Raid(Wars_,year)

100%|██████████| 64763/64763 [07:30<00:00, 143.64it/s]
100%|██████████| 56961/56961 [05:17<00:00, 179.23it/s]
100%|██████████| 55380/55380 [05:27<00:00, 169.16it/s]
100%|██████████| 36093/36093 [02:17<00:00, 262.23it/s]

### Aggregate Files with same year

In [13]:
for year in [2016,2017,2018,2019]:
    Wars_ = [ i for i in os.listdir(f'E:\Data\Eve-Online\Wars_Csv') if str(year)+'war' in i]
    out = pd.DataFrame()
    for file in tqdm.tqdm(Wars_):
        file_path = f'E:\Data\Eve-Online\Wars_Csv\{file}'
        df_ = pd.read_csv(file_path,index_col=0)
        out = pd.concat([out,df_])
    out.to_csv(f'E:\Data\Eve-Online\{year}_wars.csv' ,index =False)

100%|██████████| 19101/19101 [08:07<00:00, 39.20it/s]
100%|██████████| 15713/15713 [04:04<00:00, 64.29it/s]
100%|██████████| 12755/12755 [02:55<00:00, 72.70it/s]
100%|██████████| 8867/8867 [03:50<00:00, 38.49it/s]

In [15]:
out.columns

Index(['attackers', 'killmail_id', 'killmail_time', 'solar_system_id',
       'war_id', 'killmail_hash', 'http_last_modified', 'victim.character_id',
       'victim.corporation_id', 'victim.damage_taken', 'victim.items',
       'victim.position.x', 'victim.position.y', 'victim.position.z',
       'victim.ship_type_id', 'victim.alliance_id', 'moon_id',
       'victim.faction_id', 'allies', 'declared', 'finished', 'id', 'mutual',
       'open_for_allies', 'retracted', 'started', 'aggressor.corporation_id',
       'aggressor.isk_destroyed', 'aggressor.ships_killed',
       'defender.corporation_id', 'defender.isk_destroyed',
       'defender.ships_killed', 'defender.alliance_id',
       'aggressor.alliance_id'],
      dtype='object')

In [18]:
out[['allies', 'declared', 'finished', 'id', 'mutual',
       'open_for_allies', 'retracted', 'started', 'aggressor.corporation_id',
       'aggressor.isk_destroyed', 'aggressor.ships_killed',
       'defender.corporation_id', 'defender.isk_destroyed',
       'defender.ships_killed', 'defender.alliance_id',
       'aggressor.alliance_id']]

,allies,declared,finished,id,mutual,open_for_allies,retracted,started,aggressor.corporation_id,aggressor.isk_destroyed,aggressor.ships_killed,defender.corporation_id,defender.isk_destroyed,defender.ships_killed,defender.alliance_id,aggressor.alliance_id
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
0,[],2009-11-27T22:05:00Z,2019-02-13T12:02:00Z,96623.0,True,False,2019-02-12T12:02:00Z,2009-11-28T22:05:00Z,1.780746e+09,0.0,0.0,1.781631e+09,0.0,0.0,NaN,NaN
0,[],2009-11-29T13:41:00Z,2019-02-13T11:50:00Z,96767.0,True,False,2019-02-12T11:50:00Z,2009-11-30T13:41:00Z,1.815164e+09,0.0,0.0,1.513802e+09,0.0,0.0,NaN,NaN
0,[],2009-11-29T13:46:00Z,2019-02-13T11:50:00Z,96768.0,True,False,2019-02-12T11:50:00Z,2009-11-30T13:46:00Z,1.816250e+09,0.0,0.0,1.513802e+09,0.0,0.0,NaN,NaN
0,[],2009-12-17T09:24:00Z,2019-02-13T11:50:00Z,98308.0,True,False,2019-02-12T11:50:00Z,2009-12-18T09:24:00Z,1.519212e+09,0.0,0.0,1.517408e+09,0.0,0.0,NaN,NaN
0,[],2009-12-19T07:17:00Z,2019-02-13T11:54:00Z,98485.0,True,False,2019-02-12T11:54:00Z,2009-12-20T07:17:00Z,1.536614e+08,0.0,0.0,4.702210e+08,0.0,0.0,NaN,NaN

In [37]:
type_a = out[out['attackers'].apply(lambda x: str(x) != 'nan')]
type_a.isna().sum()/type_a.shape[0]

attackers                   0.000000
killmail_id                 0.000000
killmail_time               0.000000
solar_system_id             0.000000
war_id                      0.000000
killmail_hash               0.000000
http_last_modified          0.000000
victim.character_id         0.057336
victim.corporation_id       0.000000
victim.damage_taken         0.000000
victim.items                0.000000
victim.position.x           0.000000
victim.position.y           0.000000
victim.position.z           0.000000
victim.ship_type_id         0.000000
victim.alliance_id          0.090346
moon_id                     0.989918
victim.faction_id           0.992909
allies                      1.000000
declared                    1.000000
finished                    1.000000
id                          1.000000
mutual                      1.000000
open_for_allies             1.000000
retracted                   1.000000
started                     1.000000
aggressor.corporation_id    1.000000
aggressor.isk_destroyed     1.000000
aggressor.ships_killed      1.000000
defender.corporation_id     1.000000
defender.isk_destroyed      1.000000
defender.ships_killed       1.000000
defender.alliance_id        1.000000
aggressor.alliance_id       1.000000
dtype: float64

In [36]:
type_b = out[out['attackers'].apply(lambda x: str(x) == 'nan')]
type_b.isna().sum()/type_b.shape[0]

attackers                   1.000000
killmail_id                 1.000000
killmail_time               1.000000
solar_system_id             1.000000
war_id                      0.000000
killmail_hash               1.000000
http_last_modified          0.000000
victim.character_id         1.000000
victim.corporation_id       1.000000
victim.damage_taken         1.000000
victim.items                1.000000
victim.position.x           1.000000
victim.position.y           1.000000
victim.position.z           1.000000
victim.ship_type_id         1.000000
victim.alliance_id          1.000000
moon_id                     1.000000
victim.faction_id           1.000000
allies                      0.000000
declared                    0.000000
finished                    0.000028
id                          0.000000
mutual                      0.000000
open_for_allies             0.000000
retracted                   0.000028
started                     0.000000
aggressor.corporation_id    0.393123
aggressor.isk_destroyed     0.000000
aggressor.ships_killed      0.000000
defender.corporation_id     0.261159
defender.isk_destroyed      0.000000
defender.ships_killed       0.000000
defender.alliance_id        0.738841
aggressor.alliance_id       0.606877
dtype: float64

### Conclusion
After exporing the data composition, it seems that 2 types of data were mixed.

In [38]:
df_all = pd.DataFrame()
for year in [2016,2017,2018,2019]:
    df_ = pd.read_csv(f'E:\Data\Eve-Online\{year}_wars.csv')
    df_all = pd.concat([df_all,df_])

C:\Users\18066\AppData\Local\Temp\ipykernel_36904\4135360281.py:3: DtypeWarning: Columns (0,2,5,11,18,19,20,22,23,24,25) have mixed types. Specify dtype option on import or set low_memory=False.
  df_ = pd.read_csv(f'E:\Data\Eve-Online\{year}_wars.csv')
C:\Users\18066\AppData\Local\Temp\ipykernel_36904\4135360281.py:3: DtypeWarning: Columns (0,2,5,10,18,19,20,22,23,24,25) have mixed types. Specify dtype option on import or set low_memory=False.
  df_ = pd.read_csv(f'E:\Data\Eve-Online\{year}_wars.csv')
C:\Users\18066\AppData\Local\Temp\ipykernel_36904\4135360281.py:3: DtypeWarning: Columns (0,2,5,10,18,19,20,22,23,24,25) have mixed types. Specify dtype option on import or set low_memory=False.
  df_ = pd.read_csv(f'E:\Data\Eve-Online\{year}_wars.csv')
C:\Users\18066\AppData\Local\Temp\ipykernel_36904\4135360281.py:3: DtypeWarning: Columns (0,2,5,10,18,19,20,22,23,24,25) have mixed types. Specify dtype option on import or set low_memory=False.
  df_ = pd.read_csv(f'E:\Data\Eve-Online\{year}_wars.csv')

In [42]:
type_a = df_all[df_all['attackers'].apply(lambda x: str(x) != 'nan')]

In [50]:
temp = type_a.isna().sum()/type_a.shape[0]
temp

attackers                   0.000000
killmail_id                 0.000000
killmail_time               0.000000
solar_system_id             0.000000
war_id                      0.000000
killmail_hash               0.000000
http_last_modified          0.000000
victim.alliance_id          0.219212
victim.character_id         0.078330
victim.corporation_id       0.000000
victim.damage_taken         0.000000
victim.items                0.000000
victim.position.x           0.000000
victim.position.y           0.000000
victim.position.z           0.000000
victim.ship_type_id         0.000000
moon_id                     0.958051
victim.faction_id           0.974436
allies                      1.000000
declared                    1.000000
finished                    1.000000
id                          1.000000
mutual                      1.000000
open_for_allies             1.000000
retracted                   1.000000
started                     1.000000
aggressor.corporation_id    1.000000
aggressor.isk_destroyed     1.000000
aggressor.ships_killed      1.000000
defender.corporation_id     1.000000
defender.isk_destroyed      1.000000
defender.ships_killed       1.000000
defender.alliance_id        1.000000
aggressor.alliance_id       1.000000
dtype: float64

In [51]:
feature_keep = list(temp[temp == 0].keys()) + ['victim.alliance_id','victim.character_id']

In [56]:
df_wars = type_a[feature_keep]

In [84]:
df_attackerinfo = pd.DataFrame()
for idx in tqdm.trange(df_wars.shape[0]):
    row = df_wars.iloc[idx]
    JS_str = row['attackers']
    kill_mail_id = row['killmail_id']
    js_dct_lst = eval(JS_str)
    for dct in js_dct_lst:
        dct['killmail_id'] = kill_mail_id
    df_temp = pd.json_normalize(js_dct_lst)
    df_attackerinfo = pd.concat([df_attackerinfo,df_temp])

100%|██████████| 837851/837851 [11:32:36<00:00, 20.16it/s]

In [18]:
df_attackerinfo.to_csv('E:\\Data\\Eve-Online\\attackers.csv',index=False)

In [45]:
#df_wars.to_csv('E:\\Data\\Eve-Online\\WARS.csv')
df_wars = pd.read_csv('E:\Data\Eve-Online\WARS.csv',index_col=0)

In [112]:
df_attackerinfo.groupby('corporation_id').count().sort_values('character_id',ascending=False).head(10)

,alliance_id,character_id,damage_done,final_blow,security_status,ship_type_id,weapon_type_id,killmail_id,faction_id
corporation_id,,,,,,,,,
9.838831e+07,349361,348949,349633,349633,349633,345436,348949,349633,0
9.855851e+07,264745,264741,264745,264745,264745,262652,264741,264745,0
3.544952e+08,179871,179698,179880,179880,179880,177262,179698,179880,0
9.837086e+07,102531,102530,102535,102535,102535,100860,102530,102535,0
9.812351e+07,69725,69725,69725,69725,69725,68850,69725,69725,0
9.847777e+07,57937,57934,57953,57953,57953,57382,57934,57953,0
1.018390e+09,57785,57785,57789,57789,57789,56089,57785,57789,0
9.809584e+07,38734,55148,55148,55148,55148,54517,55148,55148,0
1.741771e+09,48099,48099,48125,48125,48125,46507,48099,48125,39
1.699307e+09,45633,45633,45642,45642,45642,44020,45633,45642,43

In [ ]:
out_df = pd.DataFrame()
for year in [2017,2018,2019]:
    path = f'E:\Data\Eve-Online\{year}war_RAID.csv'
    df_ = pd.read_csv(path,index_col=0)
    out_df = pd.concat([df_,out_df])
    
out_df.to_csv('E:\Data\Eve-Online\ENCOUNTER.csv')

In [9]:
_df = pd.read_csv('E:\Data\Eve-Online\ENCOUNTER.csv',index_col=0)
_df = _df.drop(columns=['allies'])

In [12]:
_df.reset_index(drop=True).to_csv('E:\Data\Eve-Online\ENCOUNTER.csv',index=False)

### Items

In [25]:

def df_slicer(df,nslice):
    """_summary_
    divides a data frame into n equally distributed slices 
    Args:
        df (pd.DataFrame): the data frame to be sliced 
        nslice (int): number of slices to be divied into 

    Returns:
        [*pd.DataFrame]: a list of dataframes seperated into n slices
    """
    from math import ceil
    n_rows = df.shape[0]
    scope = ceil(n_rows/nslice)
    out = []
    head = 0
    tail = head + scope 
    while True:
        #print(f'{head}->{tail}')
        out.append(df[head:tail])
        head = tail 
        tail = head + scope 
        if len(out) ==  nslice:
            break
    return out 

def set_ids(dct,killmail_id,victim_character_id):
    dct['killmail_id'] = killmail_id
    dct['victim.character_id'] = victim_character_id
    return dct 

def flatten_js(item_sample,killmail_id,victim_character_id):
    return pd.json_normalize(list(map(lambda x: set_ids(x,killmail_id,victim_character_id),eval(item_sample))))

def FLAT_JS(df,hash,out_dct = None,target_column = 'victim.items'):
    #out_df = pd.DataFrame()
    for idx in tqdm.trange(df.shape[0]):
        row = df.iloc[idx]
        JS = row[target_column]
        killmail_id = row['killmail_id']
        victim_character_id = row['victim.character_id']
        df_temp = flatten_js(JS,killmail_id,victim_character_id)
        #out_df = pd.concat([out_df,df_temp])
        df_temp.to_csv(f'E:\Data\Eve-Online\ITEMs_csv\item_{idx}.csv')
    # if out_dct is None:
    #     return out_df
    # out_dct[hash] = out_df

In [6]:
item_sample = df_wars['victim.items'].iloc[0]

In [26]:
FLAT_JS(df_wars,'whatever')
#df_items.to_csv('E:\Data\Eve-Online\ITEMS.csv',index=False)

100%|██████████| 837851/837851 [35:10<00:00, 396.94it/s]

In [2]:
file_names = os.listdir('E:\Data\Eve-Online\ITEMs_csv')

In [ ]:
df_ITEMS = pd.DataFrame()
for name in tqdm.tqdm(file_names):
    path = f'E:\Data\Eve-Online\ITEMs_csv\{name}'
    df_ = pd.read_csv(path,index_col=0)
    df_ITEMS = pd.concat([df_ITEMS,df_])

In [21]:
file_names_rest = file_names[274924:]

In [22]:
#Outer Epoch
shreshold = 5000
n_file = 0
while True:
    counter = 0 
    df_ITEMS = pd.DataFrame()
    finished = True
    for idx in tqdm.trange(len(file_names_rest)):
        name = file_names_rest[idx]
        counter+=1 
        path = f'E:\Data\Eve-Online\ITEMs_csv\{name}'
        df_ = pd.read_csv(path,index_col=0)
        df_ITEMS = pd.concat([df_ITEMS,df_])
        if counter > shreshold:
            finished = False 
            break 
    n_file += 1 
    df_ITEMS.to_csv(f'E:\Data\Eve-Online\ITEMS_Agg\item_agg_{n_file}.csv')
    if finished:
        break 
    file_names_rest = file_names_rest[idx:]

  1%|          | 5000/562927 [00:09<18:00, 516.37it/s]
  1%|          | 5000/557927 [00:10<19:16, 478.22it/s]
  1%|          | 5000/552927 [00:09<17:11, 531.38it/s]
  1%|          | 5000/547927 [00:09<16:54, 535.42it/s]
  1%|          | 5000/542927 [00:10<17:56, 499.93it/s]
  1%|          | 5000/537927 [00:09<17:14, 515.11it/s]
  1%|          | 5000/532927 [00:10<18:29, 475.72it/s]
  1%|          | 5000/527927 [00:10<18:20, 475.10it/s]
  1%|          | 5000/522927 [00:09<15:34, 554.17it/s]
  1%|          | 5000/517927 [00:10<17:26, 490.36it/s]
  1%|          | 5000/512927 [00:09<16:28, 513.91it/s]
  1%|          | 5000/507927 [00:09<15:42, 533.56it/s]
  1%|          | 5000/502927 [00:09<16:07, 514.62it/s]
  1%|          | 5000/497927 [00:09<15:43, 522.61it/s]
  1%|          | 5000/492927 [00:11<18:33, 438.17it/s]
  1%|          | 5000/487927 [00:10<17:41, 454.88it/s]
  1%|          | 5000/482927 [00:10<17:05, 465.97it/s]
  1%|          | 5000/477927 [00:11<17:36, 447.64it/s]
  1%|          | 5000/472927 [00:10<16:45, 465.19it/s]
  1%|          | 5000/467927 [00:10<16:35, 465.08it/s]
  1%|          | 5000/462927 [00:10<16:06, 473.79it/s]
  1%|          | 5000/457927 [00:11<16:55, 445.98it/s]
  1%|          | 5000/452927 [00:10<16:18, 457.92it/s]
  1%|          | 5000/447927 [00:11<16:24, 449.94it/s]
  1%|          | 5000/442927 [00:11<16:16, 448.47it/s]
  1%|          | 5000/437927 [00:11<15:57, 451.91it/s]
  1%|          | 5000/432927 [00:10<15:08, 471.24it/s]
  1%|          | 5000/427927 [00:11<15:45, 447.42it/s]
  1%|          | 5000/422927 [00:10<15:03, 462.47it/s]
  1%|          | 5000/417927 [00:10<14:41, 468.69it/s]
  1%|          | 5000/412927 [00:11<15:24, 441.31it/s]
  1%|          | 5000/407927 [00:10<13:25, 499.96it/s]
  1%|          | 5000/402927 [00:09<12:18, 538.62it/s]
  1%|▏         | 5000/397927 [00:10<13:17, 492.70it/s]
  1%|▏         | 5000/392927 [00:11<15:06, 428.00it/s]
  1%|▏         | 5000/387927 [00:11<14:36, 436.90it/s]
  1%|▏         | 5000/382927 [00:11<14:03, 448.08it/s]
  1%|▏         | 5000/377927 [00:10<13:36, 456.97it/s]
  1%|▏         | 5000/372927 [00:10<13:01, 470.72it/s]
  1%|▏         | 5000/367927 [00:11<13:31, 447.04it/s]
  1%|▏         | 5000/362927 [00:11<13:42, 435.38it/s]
  1%|▏         | 5000/357927 [00:10<12:41, 463.35it/s]
  1%|▏         | 5000/352927 [00:11<13:31, 428.67it/s]
  1%|▏         | 5000/347927 [00:11<13:11, 433.31it/s]
  1%|▏         | 5000/342927 [00:14<15:54, 353.87it/s]
  1%|▏         | 5000/337927 [00:11<12:52, 430.94it/s]
  2%|▏         | 5000/332927 [00:11<12:12, 447.62it/s]
  2%|▏         | 5000/327927 [00:12<12:58, 414.59it/s]
  2%|▏         | 5000/322927 [00:11<11:58, 442.50it/s]
  2%|▏         | 5000/317927 [00:12<13:22, 389.86it/s]
  2%|▏         | 5000/312927 [00:12<13:02, 393.56it/s]
  2%|▏         | 5000/307927 [00:11<11:59, 421.13it/s]
  2%|▏         | 5000/302927 [00:11<11:18, 438.91it/s]
  2%|▏         | 5000/297927 [00:11<11:24, 428.17it/s]
  2%|▏         | 5000/292927 [00:11<11:19, 423.70it/s]
  2%|▏         | 5000/287927 [00:11<10:43, 439.87it/s]
  2%|▏         | 5000/282927 [00:11<10:40, 433.94it/s]
  2%|▏         | 5000/277927 [00:11<10:35, 429.77it/s]
  2%|▏         | 5000/272927 [00:11<10:23, 430.02it/s]
  2%|▏         | 5000/267927 [00:10<09:17, 471.55it/s]
  2%|▏         | 5000/262927 [00:12<10:22, 414.22it/s]
  2%|▏         | 5000/257927 [00:12<10:08, 415.37it/s]
  2%|▏         | 5000/252927 [00:10<08:48, 468.87it/s]
  2%|▏         | 5000/247927 [00:11<09:32, 424.41it/s]
  2%|▏         | 5000/242927 [00:13<10:41, 371.08it/s]
  2%|▏         | 5000/237927 [00:11<08:53, 436.50it/s]
  2%|▏         | 5000/232927 [00:11<09:02, 420.43it/s]
  2%|▏         | 5000/227927 [00:11<08:54, 416.79it/s]
  2%|▏         | 5000/222927 [00:12<09:09, 396.58it/s]
  2%|▏         | 5000/217927 [00:11<08:22, 423.33it/s]
  2%|▏         | 5000/212927 [00:11<08:15, 419.73it/s]
  2%|▏         | 5000/207927 [00:12<08:38, 391.45it/s]
  2%|▏         | 5000/202927 [00:12<07:55, 416.27it/s]
  3%|▎         | 5000/197927 [00:11<07:16, 441.76it/s]
  3%|▎         | 5000/192927 [00:12<07:42, 405.92it/s]
  3%|▎         | 5000/187927 [00:10<06:36, 460.85it/s]
  3%|▎         | 5000/182927 [00:11<06:51, 431.88it/s]
  3%|▎         | 5000/177927 [00:14<08:14, 349.56it/s]
  3%|▎         | 5000/172927 [00:12<07:10, 389.66it/s]
  3%|▎         | 5000/167927 [00:12<07:03, 385.02it/s]
  3%|▎         | 5000/162927 [00:11<06:12, 423.49it/s]
  3%|▎         | 5000/157927 [00:11<06:02, 421.35it/s]
  3%|▎         | 5000/152927 [00:12<06:03, 406.68it/s]
  3%|▎         | 5000/147927 [00:12<05:53, 404.25it/s]
  3%|▎         | 5000/142927 [00:12<05:51, 392.33it/s]
  4%|▎         | 5000/137927 [00:11<05:18, 417.01it/s]
  4%|▍         | 5000/132927 [00:11<04:46, 446.53it/s]
  4%|▍         | 5000/127927 [00:11<04:50, 423.61it/s]
  4%|▍         | 5000/122927 [00:12<04:49, 407.29it/s]
  4%|▍         | 5000/117927 [00:12<04:42, 399.39it/s]
  4%|▍         | 5000/112927 [00:12<04:29, 400.26it/s]
  5%|▍         | 5000/107927 [00:12<04:15, 402.51it/s]
  5%|▍         | 5000/102927 [00:13<04:23, 372.30it/s]
  5%|▌         | 5000/97927 [00:12<03:57, 391.83it/s]
  5%|▌         | 5000/92927 [00:12<03:44, 391.05it/s]
  6%|▌         | 5000/87927 [00:12<03:28, 397.20it/s]
  6%|▌         | 5000/82927 [00:12<03:09, 410.69it/s]
  6%|▋         | 5000/77927 [00:11<02:54, 418.15it/s]
  7%|▋         | 5000/72927 [00:11<02:34, 439.10it/s]
  7%|▋         | 5000/67927 [00:12<02:42, 388.15it/s]
  8%|▊         | 5000/62927 [00:12<02:21, 409.02it/s]
  9%|▊         | 5000/57927 [00:10<01:54, 463.36it/s]
  9%|▉         | 5000/52927 [00:10<01:42, 467.90it/s]
 10%|█         | 5000/47927 [00:10<01:28, 485.51it/s]
 12%|█▏        | 5000/42927 [00:10<01:22, 458.50it/s]
 13%|█▎        | 5000/37927 [00:11<01:14, 443.46it/s]
 15%|█▌        | 5000/32927 [00:10<00:58, 480.53it/s]
 18%|█▊        | 5000/27927 [00:10<00:47, 478.97it/s]
 22%|██▏       | 5000/22927 [00:10<00:38, 461.19it/s]
 28%|██▊       | 5000/17927 [00:10<00:27, 477.90it/s]
 39%|███▊      | 5000/12927 [00:10<00:16, 472.40it/s]
 63%|██████▎   | 5000/7927 [00:09<00:05, 516.49it/s]
100%|██████████| 2927/2927 [00:05<00:00, 518.74it/s]

In [23]:
#Inner Epoch
file_names_2 = os.listdir('E:\Data\Eve-Online\ITEMS_Agg')
df_ITEMS_final = pd.DataFrame()
for name in tqdm.tqdm(file_names_2):
    path = f'E:\Data\Eve-Online\ITEMS_Agg\{name}'
    df_ = pd.read_csv(path,index_col=0)
    df_ITEMS_final = pd.concat([df_ITEMS_final,df_])

  0%|          | 0/114 [00:00<?, ?it/s]C:\Users\18066\AppData\Local\Temp\ipykernel_31992\2034501931.py:6: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  df_ = pd.read_csv(path,index_col=0)
 46%|████▌     | 52/114 [00:10<00:11,  5.24it/s]C:\Users\18066\AppData\Local\Temp\ipykernel_31992\2034501931.py:6: DtypeWarning: Columns (8) have mixed types. Specify dtype option on import or set low_memory=False.
  df_ = pd.read_csv(path,index_col=0)
 53%|█████▎    | 60/114 [00:12<00:12,  4.26it/s]C:\Users\18066\AppData\Local\Temp\ipykernel_31992\2034501931.py:6: DtypeWarning: Columns (8) have mixed types. Specify dtype option on import or set low_memory=False.
  df_ = pd.read_csv(path,index_col=0)
 55%|█████▌    | 63/114 [00:12<00:10,  4.64it/s]C:\Users\18066\AppData\Local\Temp\ipykernel_31992\2034501931.py:6: DtypeWarning: Columns (8) have mixed types. Specify dtype option on import or set low_memory=False.
  df_ = pd.read_csv(path,index_col=0)
 56%|█████▌    | 64/114 [00:12<00:10,  4.55it/s]C:\Users\18066\AppData\Local\Temp\ipykernel_31992\2034501931.py:6: DtypeWarning: Columns (8) have mixed types. Specify dtype option on import or set low_memory=False.
  df_ = pd.read_csv(path,index_col=0)
 69%|██████▉   | 79/114 [00:16<00:07,  4.40it/s]C:\Users\18066\AppData\Local\Temp\ipykernel_31992\2034501931.py:6: DtypeWarning: Columns (8) have mixed types. Specify dtype option on import or set low_memory=False.
  df_ = pd.read_csv(path,index_col=0)
 71%|███████   | 81/114 [00:16<00:07,  4.31it/s]C:\Users\18066\AppData\Local\Temp\ipykernel_31992\2034501931.py:6: DtypeWarning: Columns (8) have mixed types. Specify dtype option on import or set low_memory=False.
  df_ = pd.read_csv(path,index_col=0)
 80%|███████▉  | 91/114 [00:19<00:05,  3.98it/s]C:\Users\18066\AppData\Local\Temp\ipykernel_31992\2034501931.py:6: DtypeWarning: Columns (8) have mixed types. Specify dtype option on import or set low_memory=False.
  df_ = pd.read_csv(path,index_col=0)
 82%|████████▏ | 93/114 [00:19<00:05,  3.70it/s]C:\Users\18066\AppData\Local\Temp\ipykernel_31992\2034501931.py:6: DtypeWarning: Columns (8) have mixed types. Specify dtype option on import or set low_memory=False.
  df_ = pd.read_csv(path,index_col=0)
 82%|████████▏ | 94/114 [00:20<00:05,  3.68it/s]C:\Users\18066\AppData\Local\Temp\ipykernel_31992\2034501931.py:6: DtypeWarning: Columns (8) have mixed types. Specify dtype option on import or set low_memory=False.
  df_ = pd.read_csv(path,index_col=0)
 84%|████████▍ | 96/114 [00:20<00:04,  3.83it/s]C:\Users\18066\AppData\Local\Temp\ipykernel_31992\2034501931.py:6: DtypeWarning: Columns (8) have mixed types. Specify dtype option on import or set low_memory=False.
  df_ = pd.read_csv(path,index_col=0)
100%|██████████| 114/114 [00:25<00:00,  4.44it/s]

In [37]:
df_ITEMS_final = df_ITEMS_final.drop(columns=['items'],axis=1)

In [43]:
df_ITEMS_final.reset_index(drop=True).to_csv('E:\Data\Eve-Online\ITEMS_Agg_All.csv')

In [34]:
1*False

0

In [5]:
name

'item_347429.csv'

In [6]:
df_ITEMS.to_csv('E:\Data\Eve-Online\ITEMS.csv',index=False)

In [4]:
df_sample = df_wars.head(1000)
out_dct = dict()
n_jobs = 4

threads = []
hash_id = 0
for df_slice in df_slicer(df_sample,n_jobs):
    hash_id +=1 
    threads.append(Process(target=FLAT_JS, args=(df_slice,hash_id)))

In [50]:
#Fianlly,remove item & attacker from war data
df_wars = df_wars.drop(['attackers','victim.items'],axis=1).reset_index(drop=True)
df_wars.to_csv('E:\\Data\\Eve-Online\\WARS.csv',index=False)

### Feature Eng (attackers):
1. Num of attackers 
2. attacker.corporation_id
3. attacker.final_blow_attacker_id
4. attacker.total_damage_delt 
5. attacker.average_security_status